body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(12, auto);
    gap: 10px;
    grid-auto-flow: column;
}

.container div {
    background-color: tomato;
    color: white;
    padding: 20px;
    font-size: larger;
}

.container div:first-child {
    grid-row: 1 / span 12;
}

/* .container div:nth-child(2) {
    grid-row: 1 / span 6;
}

.container div:nth-child(3) {
    grid-row: 7 / span 6;
} */

.container div:nth-child(2), .container div:nth-child(3) {
    grid-row: span 6;
}

.container div:nth-child(4), 
.container div:nth-child(5),
.container div:nth-child(6) {
    grid-row: span 4;
}

.container div:nth-child(7), 
.container div:nth-child(8),
.container div:nth-child(9),
.container div:nth-child(10) {
    grid-row: span 3;
}

/* .container div:nth-child(11), 
.container div:nth-child(12),
.container div:nth-child(13),
.container div:nth-child(14), 
.container div:nth-child(15),
.container div:nth-child(16) {
    grid-row: span 2;
} */

.container div:nth-child(n+11):nth-child(-n+16) {
    grid-row: span 2;
}

@media screen and (max-width: 576px) {
    .container {
        display: block;        
    }
    .container div{
        margin: 10px;
    }
}