.grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.grid-container * {
    border: 2px solid salmon;
}

.grid-container .header, .grid-container .footer {
    grid-column: 1 / 4; 
}