/* @font-face {
    font-family: "TwinkleLights";
    src: url("fonts/Twinkle Lights Demo.otf");
} */

body {
    font-family: TwinkleLights, abc, Arial;
}

p {
    font-size: larger;
}

h3 {
    text-align: center;
}

p .blue-italic {
    font-style: italic;
    color: blue;
}

.bg-green {
    background-color: greenyellow;
}

body > span {
    color: purple;
}

body #footer {
    background-color: yellow;
}

.class-2-body {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.class-2-body .text-decoration {
    /* text-decoration: underline overline line-through wavy green 1px; */
    text-decoration-line:underline overline;
    text-decoration-style: dotted;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    line-height: 2;
    letter-spacing: 10px;
}

.class-2-body h3 {
    text-shadow: 2px 2px 15px yellow ;
}

.class-2-body .text-indent {
    text-indent: 35px;
}
.class-2-body .height {
    height: 1000px;
}
.class-2-body h4 {
    border: 5px double red;
    /* margin: 10px 20px 30px 40px; */
    /* margin: 25px; */
    /* padding: 30px 15px 10px 5px; */
    margin: auto;
    min-width: 50px;
    max-width: 100px;
    /* width: 50px; */
    /* height: 50px; */
    min-height: 100px;
    max-height: 1500px;
}

.inline-heading h1, .inline-heading h2 {
    display: inline;
}

.boxes {
    position: sticky;
    bottom: 0;
}

.block-span-a span, .block-span-a a {
    display: block;
}

.inline-block-div .box {
    background-color: green;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.box-1 {
    background-color: green;
    border: 1px solid black;
    display: block;
}

.box-2 {
    background-color: green;
    border: 1px solid black;
    width: 100%;
}

.box-3 {
    background-color: blue;
    border: 1px solid black;
    display: inline;
}
.box-4 {
    background-color: red;
    border: 1px solid black;
    display: inline-block;
}

.position-helper-relative, .position-helper-absolute {
    height: 400px;
    width: 400px;
    background-color: orange;
    margin: 5px;
    position: relative;
    z-index: -1;
}

.position-helper-relative div{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border: 2px solid rgb(10, 9, 9);
    display: inline-block;
}

.position-helper-absolute div{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border: 2px solid rgb(10, 9, 9);
    display: inline-block;
}

.position-helper-relative div:first-child {
    position: relative;
    /* top: 54px;
    left: 58px; */
    bottom: 54px;
    right: 50px;
} 

.position-helper-absolute div:first-child {
    position: absolute;
    background-color: yellow;
    right: 0;
    bottom: 0;
}


.fixed-div {
    background-color: red;
    border: 2px solid grey;
    position: fixed;
}